* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
}


a {
  text-decoration: none;
}

.aboutPage:visited {
  color: #ec5242
}

a:visited {
  color: inherit;
}

.topBar {
  display: none;
  padding: 0.5rem;
  padding-right: 10rem;
  gap: 1rem;
  justify-content: flex-end;
  background-color: #3e3e3e;
  color: #fff;
  font-size: 0.5rem;
  align-items: center;
}

.mainProgram i {
  font-size: 1.5rem;
}

nav {
  display: none;
}

.nav-items {
  display: flex;
  color: black;
}

.navbar {
  display: flex;
}

.main {
  display: flex;
  flex-direction: column;
  isolation: isolate;
  position: relative;
 }

.main::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 0.1;
  background-image: url("../images/mainBg6.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
 
.main .title {
  font-weight: bold;
  background-image: url("../images/mainBg6.jpg");
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: black;
}
 
.homeContent {
  display: flex;
  flex-direction: column;
}

.greet{
  color: #EC5242;
  font-weight: lighter;
}

.homeContent .description {
  color: #818181;
  background-color: #fdfdf6;
}

.date {
color: #2 
}

.location {
  font-size: 1rem;
  color: #7f7f7f;
  font-weight: lighter;
}

.email {
  font-weight: bold;
  text-decoration: underline;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 80%;
  overflow: scroll;
  color: #545454;
  margin: 0;
}

.expanded {
  height: 100vh;
  background: linear-gradient(rgba(253,253,246,0.8), rgba(253,253,246,0.8)), url("../images/mainBg6.jpg");
}

.menu-button {
  padding: 1rem;
  width: max-content;
  font-size: 1.5rem;
}

.expanded .menu-content {
  display: flex;
  flex-direction: column;
  z-index: 2;
  height: 100%;
}

.expanded .menu-items {
  display: flex;
  flex-direction: column;
  padding: 0 10%;
  font-size: 1.5rem;
  font-weight: bolder;
  height: 100%;
  justify-content: space-around;
}

.menu .logo img{
  height: auto;
}


.mainProgram {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #272a31;
  background: url("../images/programBg5.jpg");
}

.programElements {
  display: flex;
}

.elements {
  display: flex;
  align-items: center;
  background: rgba(66, 66, 66, .40);
  border: 1px solid rgba(66, 66, 66, .40);
}

.elements:hover {
  border: 1px solid #fff;
}

.holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.underLine {
  height: 1rem;
  width: 30%;
  max-width: 3rem;
  border-bottom: 1px solid #ec5242;
}

.programBtn {
  display: none;
  padding: 2rem;
  font-size: 0.8rem;
  font-family: 'Lato';
  font-weight: bold;
  background-color: #ec5242;
  color: #fff;
  cursor: pointer;
}

.about .description {
  background-color: #fff;
}

.mainProgram .title {
  color: #fff;
 }

.pastEvents {
  display: flex;
  text-align: center;
}

.event {
  display: flex;
  flex-direction: column;
  color: #fff;
 }

.h1 {
  background: linear-gradient(rgba(236,82,66,0.8), rgba(236,82,66,0.8)), url("../images/pastEvents1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.h2 {
  background: linear-gradient(rgba(236,82,66,0.8), rgba(236,82,66,0.8)), url("../images/pastEvents2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.year {
  font-weight: bold;
 }

.name {
  font-weight: lighter;
 }

.partners {
  display: flex;
  background-color: #4e4f4f;
}

.aboutPartners {
  background-color: #4e4f4f;
}

.aboutPartners .title {
  color: #fff;
  font-weight: lighter;
}

.partners .title {
  color: #fff;
  font-weight: lighter;
}

.partnersWrapper {
  display: flex;
  align-items: center;
}

.elements i {
  color: #fff;
}

.elements h3 {
  color: #ec5242;
}

.elements p {
  color: #fff;
}

.footerDetail {
  display: none;
}

main .about {
  align-items: center;
  text-align: center;
}

.about .greet {
  display: none;
}

.deskAboutDesc {
  display: none;
}

.creativeLogo {
  text-align: center;
  border-bottom: 1px solid #d3d3d3;
}

.events {
  display: flex;
}

.titleWrap {
  display: flex;
  flex-direction: column;
}

.aboutPartners {
  display: none;
}

header {
  position: fixed;
  z-index: 5;
  width: 100%;
}

nav {
  background-color: #fff;
}

.menu .close {
  display: none;
}

#artistSection {
  display: flex;
  flex-direction: column;
}

#artistSection .holder {
  display: flex;
  flex-direction: column;
  order: 0;
}

#featuredArtists {
  order: 1;
}

.artist {
  display: flex;
  flex-direction: row;
}

.artistDetail {
  display: flex;
  flex-direction: column;
}

.seeMore {
  display: none;
}

footer {
  flex-direction: column;
}


.imgHolder {
  display: flex;
  width: 48%;
  align-items: flex-end;
  justify-content: end;
  background-image: url("../images/scratched.jpg");
  background-repeat: no-repeat;
  background-size: 50% 50%;
}

.artist img {
  width: 85%;
  height: 85%;
}

.artistDetail {
  width: 100%;
}

.artist span {
  font-style: italic;
  color: #ec5242;
  line-height: 0.8rem;
}

.artist holder {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.artist .underLine {
  height: 0;
  width: 10%;
  border-bottom: 1px solid #d3d3d3
}

@media only screen and (max-width: 768px) {
  .main .home {
    padding: 5rem 1rem 4rem;
    gap: 1rem;
  }

  .mainProgram .title {
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: black;
   }

  .homeContent .home {
    gap: 1rem;
    padding-top: 1.5rem;
  }

  .homeContent .description {
    padding: 1rem;
    font-size: 0.8rem;
    border: 1px solid rgba(255,255,255,0.9);
  }

  .about .greet {
    display: block;
  }

  .location {
    font-size: 0.8rem;
  }

  main .about {
    gap: 2rem;
    padding: 5rem 1rem 2rem;
  }

  .mainProgram .title {
    font-size: 1.2rem;
    font-weight: lighter;
  }

  .programBtn {
    font-weight: lighter;
    margin: 0 9%;
  }

  .about .description {
    line-height: 165%;
    padding: 1.5rem 1rem;
  }

  .about .contact {
    line-height: 160%;
    padding: 0 3rem;
  }

  .creativeLogo {
  padding: 1rem 1rem 3rem;
  }

  .creativeLogo .holder {
    padding: 1rem 4rem;
  }

  .logoDesc {
    padding: 0 3rem;
    line-height: 150%;
  }

  .aboutLogo {
    margin-top: 2rem;
    border: 1px solid #d3d3d3;
  }

  .mainProgram {
    gap: 2rem;
    padding: 2rem 1rem;
  }

  .pastEvents {
    flex-direction: column;
    justify-content: center;
    padding: 2rem 11%;
    gap: 1rem;
  }

  .event {
    padding: 5rem 3rem;
    gap: 1rem;
  }

 .year {
    font-size: 2rem;
  }

 .name {
    font-size: 1rem;
  }

 .programDetails {
    display: none;
  }
 
 .partners {
    flex-direction: column;
    padding: 2rem 1rem;
    height: 70%;
    gap: 1rem;
  }
  
  .aboutPartners {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    height: 70%;
    gap: 1rem;
  }

  .partners .title {
    font-size: 1.5rem;
  }
  
  .partnersWrapper {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

 .partner {
    width: auto;
    height: 4rem;
  }

  .bottom {
    display: flex;
    padding: 2rem;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
  }

  .footerLogo {
    width: 50%;
    height: 2rem;
  }

  .footerDesc {
    width: 50%;
    font-size: 0.6rem;
    height: max-content;
  }

  .elements i {
    width: 10%;
  }
  
  .elements h3 {
    font-size: 1rem;
    width: 20%;
  }
  
  .elements p {
    font-size: 0.8rem;
    width: 70%;
  }

  .titleWrap {
    gap: 1rem;
  }

  .programElements {
    flex-direction: column;
    gap: 0.5rem;
  }

  .elements {
    justify-content: flex-start;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
  }

  .programBtn {
    display: flex;
  }

  .events {
    flex-direction: column;
    gap: 1rem;
  }

  .expanded .open {
    display: none;
  }

  .expanded .close {
    display: flex;
    z-index: 2;
  }

  #artistSection{
    justify-content: center;
    padding: 2rem 0;
  }

  #artistSection .holder {
    padding-bottom: 2rem;
    text-align: center;
  }

  #featuredArtists {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .artist {
    gap: 1rem;
    padding: 0 1rem;
  }

  .artistDetail {
    gap: 0.5rem;
  }
  

  .imgHolder {
    display: flex;
    width: 48%;
    align-items: flex-end;
    justify-content: end;
    background-image: url("../images/scratched.jpg");
    background-repeat: no-repeat;
    background-size: 50% 50%;
  }

  .artistDetail {
    padding: 0.5rem 0;
  }

  .artist img {
    width: 85%;
    height: 85%;
  }

  .artist h3 {
    font-size: 1rem;
  }

  .artist span {
    font-size: 0.6rem;
  }

  .artist p {
    font-size: 0.5rem;
  }

  .more {
    display: none;
  }

  .seeMore {
    display: flex;
    width: 100%;
  }

  .seeMoreBtn {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    margin: 0 1rem 2rem;
    padding: 1rem 0;
    width: 100%;
    font-family: 'Lato', sans-serif;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    cursor: pointer;
  }

  .seeMoreBtn i {
    color: #ec5242;
  }

}

@media only screen and (min-width: 768px) {
  .home {
    padding: 10rem 10rem 5rem 14%;
    gap: 1rem;
  }

  .home .greet {
    font-size: 2rem;
  }

  .homeContent .title {
    font-size: 3rem;
  }

  .home .title {
    width: 80%;
  }

  .home .description {
    width: 58%;
    font-size: 0.5rem;
    line-height: 1rem;
    padding: 0.5rem 1rem;
    border: 2.5px solid rgba(255,255,255,0.9);
  }

  .topBar {
    display: flex;
  }

  nav {
    display: flex;
    padding: 0.4rem 14%;
  }

  .navbar {
    flex-direction: row;
    gap: 20%;
    align-items: center;
    width: 100%;
  }
  
  .rockHall {
    font-size: 0.8rem;
    white-space: nowrap;
    padding: 0.3rem 0.5rem;
    color: #ec5242;
    border: 3px solid #ec5242;
  }

  .rockHall:visited {
    color: #ec5242;
  }

  .menu {
    display: none;
  }

  .nav-items {
    font-size: 0.6rem;
    width: 100%;
    gap:10%;
    align-items: center;
    justify-content: flex-end;
  }
 
  .logo {
    width: 25%;
    max-width: 6rem;
    height: 100%;
  }

  .logo img {
    width: 100%;
    height: 100%;
  }

  .mainProgram .title {
    font-size: 1.2rem;
    font-weight: lighter;
  }

  .programElements {
    flex-direction: row;
    gap: 0.2rem;
    padding-bottom: 1rem;
  }
  
  .mainProgram {
    gap: 2rem;
    padding: 3rem 13% 4rem;
  }

  .elements {
    justify-content: flex-start;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    width: 20%;
  }

  .elements h3{
    display: flex;
    height: 2rem;
    align-items: center;
    font-size: 0.8rem;
  }

  .elements p {
    font-size: 0.55rem;
    line-height: 155%;
  }

  .art1 {
    width: 100px;
    height: 100px;
  }

  .programDetails {
    color: #fff;
    text-decoration: underline;
    font-size: 0.65rem;
  }

  .programDetails:visited {
    color: #fff;
  }

  .partners {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 18%;
  }

  .partners .title {
    font-size: 1.5rem;
  }

  .partner {
    width: 20%;
  }

  .bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3rem 18%;
    gap: 2rem;
  }

  .footerLogo {
    width: 25%;
  }

  .footerDesc {
    width: 70%;
    font-size: 0.6rem;
    line-height: 0.6rem;
    height: 100%;
  }

  .footerDetail {
    display: flex;
  }
  
  .about {
    padding: 10rem 18% 6rem;
    gap: 3rem;
  }

  .deskAboutDesc {
    display: inline;
  }

  .about .title {
    width: 70%;
  }

  .about .description {
    width: 80%;
    font-size: 0.7rem;
    line-height: 180%;
    padding: 1.5rem 3rem;
  }

  .creativeLogo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem 14%;
    align-items: center;
  }

  .creativeLogo .title {
    font-size: 1.4rem;
    width: max-content;
  }
  
  .logoDesc {
    font-size: 0.8rem;
    line-height: 133%;
    width: 60%;
  }

  .aboutLogo {
    margin-top: 1rem;
    border: 1px solid #d3d3d3;
    width: 50%;
  }

  .pastEvents {
    flex-direction: column;
    padding: 3rem 20% 5rem;
    gap: 3rem;
  }
  
  .pastEvents .title {
    font-size: 1.5rem;
  }

  .pastEvents .description {
    font-size: 0.8rem;
  }

  .titleWrap {
    gap: 1rem;
  }

  .events {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
  }

  .eventHolder {
    width: 100%;
  }

  .event {
    padding: 4rem 2rem;
    gap: 1rem;
  }

  .aboutFooter .bottom {
    background-color: #3e3e3e;
    color: #fff;
  }
  
  #artistSection {
    padding: 2rem 14% 5rem;
    gap: 2rem;
  }

  #artistSection .holder {
    font-size: 0.7rem;
    }

  #featuredArtists {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem 0.5rem;
  }

  .artistDetail {
    gap: 0.5rem;
    padding: 0.5rem;
  }


  .artist h3 {
    font-size: 1rem;
  }

  .artist span {
    font-size: 0.7rem;
  }

  .artist p {
    font-size: 0.5rem;
    line-height: 0.8rem;
  }
}

@media only screen and (min-width: 1240px) {
  html {
    font-size: 24px;
  }
}